/* DATEI: ltg50.css */

/* Hier können Sie Schriftarten, Schriftgroessen, Abstände zwischen Text und Bildern usw. ändern */
/* Aenderungen auf eigene Gefahr! */

a { text-decoration: underline;}
a:hover { cursor: pointer; }


h1,h2,h3,h4
     { font-family:Arial,Helv,sans-serif; }

p,ul,ol,li,div,td,th,nobr,b,i,br,em
     { font-family:Times,serif; }

h1 { font-size:20pt; }

h2 { font-size:18pt; font-weight:600 }

h3 { font-size:16pt; font-weight:500 }

h4 { font-size:13pt; }

p,ul,ol,li,div,td,th,nobr,b,i,br,em { font-size:11pt; }
.foto { font-size:10pt; font-style:italic;}

i.pic-left { font-size:9pt; margin-right:10px; margin-bottom:5px;}
i.pic-right { font-size:9pt; margin-left:10px; margin-bottom:5px;}

a { color:#FFFFFF; text-decoration:underline; }
a:visited { color:#551A8B; text-decoration:underline; }
a:active { color:#FF0000; text-decoration:none; }

img.tableleft { margin:5px 10px 0px 0px; }
img.tableright { margin:5px 0px 0px 10px; }
img.left { margin:5px 10px 5px 0px; }
img.right { margin:5px 0px 5px 10px; }
/* oben, rechts, unten und links */


